<h1>Play Connect 4</h1>

<div>
  <table id="turn_270">
    <tr class="first">
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
    </tr>
    <tr>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
    </tr>
    <tr>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
    </tr>
    <tr>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
    </tr>
    <tr>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
    </tr>
    <tr>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
      <td>o</td>
    </tr>
  </table>
</div>

<h4>birthday guy productions</h4>
